# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite

# Uploads
uploads/

# Frontend
node_modules/
dist/
.dist/

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp

# Environment
.env
.env.local
.env.*.local
